@font-face {
  font-family: 'customFont';
  src: url('../../assets/DouyinSansBold.woff2') format('truetype');
  font-display: swap;
}

:root {
  --vp-sidebar-width: 300px;
  --vp-font-family-base: 'customFont';
}
